@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding-top: 20px;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.sectionProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}
.containerProductos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerProduct{
    background-color: white;
    width: 550px;
    height: 335px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;   
}

.imgProductDesktop{
    width: 300px;
    height: 335px;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    box-shadow: 1px 0px 3px hsl(228, 12%, 48%);
}
.imgProductMobile{
    display: none;
}
.descriptionProduct{
    padding: 20px;
}
.descriptionProduct span{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.58rem;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
}
.descriptionProduct p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.63rem;
    line-height: 18px;
    padding: 8px 6px;
        text-align: justify;
    color: hsl(228, 12%, 48%);
}
.descriptionProduct h2{
    padding: 10px 10px 10px 0px;
    text-align: left;
    font-family: 'Fraunces', serif;
    line-height: 24px;
}
.priceProduct{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
}
.priceProduct h5{
    font-family: 'Montserrat', sans-serif;
    text-decoration:line-through;
    position: relative;
    top: 15px;
    right: 5px;
    font-size: 12px;
}
.priceProduct h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(158, 78%, 18%);
}
.buttonCart{
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    width: 170px;
    height: 36px;
    margin: 12px 0px;
    border: 0px;
    border-radius: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}
.buttonCart img{
    position: relative;
    top: 4px;
    right: 5px;
}
.buttonCart:hover{
    background-color: hsl(158, 23%, 16%);
}

@media(max-width:475px){

.containerProduct{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0px;
    width: 340px;
    height: 620px;
    
}
.imgProductDesktop{
    display: none;
    
}
.imgProductMobile{
    display:block;
    width: 340px;
    height: 280px;
    border-radius: 10px 10px 0px 0px;
    box-shadow:none;
}
.descriptionProduct .spanProduct{
    font-size: 1rem
}
.descriptionProduct h2{
    font-size: 1.8rem;
    line-height: 30px;
}
.descriptionProduct p {
    font-size: 1rem;
}
.buttonCart{
    width: 300px;
    height: 50px;
}

}